* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}

header h1 {
    font-size: 3em;
}

section {
    padding: 20px;
    margin: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Stile per il logo fisso */

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 10vw;
    height: 5;
    z-index: 1000;
}
